<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.thebootube"
        versionCode = ""
        version     = "1.0" >

	<name>The Boo Tube</name>

	<description>The official app for Dan Booth's The Boo Tube.</description>

	<author href="https://www.splitanatom.com" email="hammy@splitanatom.com">Split An Atom</author>

	<gap:platform name="android" />

	<preference name="disallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />

	<!-- Add Icon, Splash screen and any PhoneGap plugin declaration here -->

	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.network-information" />

</widget>
